.footer {
  width: 100%;
  background-color: #212225;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.linkLogo {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;

  color: rgba(237, 238, 240, 0.96);
}

.link,
.text {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(237, 238, 240, 0.68);
}

.link {
  display: block;
}

.text {
  width: 416px;
}

.contacts {
  width: 316px;
}

.item > * {
  margin-bottom: 8px;
}

.title {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(237, 238, 240, 0.96);
}
